*,
::before,
::after {
  box-sizing: border-box;
}

p-slide {
  position: relative;
  contain: paint;
}

pre p-fragment {
  &[aria-hidden='true'] p-fragment,
  &[aria-hidden='false'] {
    opacity: 1;
  }

  code[class*='language-'] {
    white-space: pre;
    background: none;
    padding: 0;
    border-radius: 0;
  }
}

:not(pre) > code {
  padding: 0 0.25em;

  pre & {
    box-shadow: none;
  }
}

p {
  margin: 0 0 0.5em;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: '';
}

pre[class*='language-'] {
  font-size: 50%;
}
pre.big[class*='language-'] {
  font-size: 75%;
  padding: 0.5em 0.6667em;
}
pre.huge[class*='language-'] {
  font-size: 100%;
  padding: 0.375em 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

blockquote {
  text-align: center;
  font-size: 125%;
  font-weight: bold;

  &::before {
    content: '“';
  }
  &::after {
    content: '”';
  }
  &:has(+ cite) {
    margin-bottom: 0;
  }
}
cite {
  blockquote + & {
    display: block;
    text-align: center;
    margin-bottom: 1.25em;
  }
  &::before {
    content: '—\a0';
  }
}
